[Unit]
Description=RedditMonitor API host

[Service]
ExecStart=/usr/bin/dotnet /home/ubuntu/redditmonitor/backend/KPI.RedditMonitor.Api.dll --server.urls=http://0.0.0.0:5000
Type=simple
User=ubuntu
Restart=always
RestartSec=3
WorkingDirectory=/home/ubuntu/redditmonitor/backend

[Install]
WantedBy=multi-user.target